In [1]:
import pandas as pd
data_df=pd.read_csv(r"C:\Users\Niloy\Linear Regression\MicIndRnk10.csv",header=None)

In [2]:
data_df.columns=['independant A','independant B','independant C','independant D','independant E','independant F','independant G','independant H','independant I','independant J ','independant K','independant L','Dependant M']

In [3]:
data_df.head()

,independant A,independant B,independant C,independant D,independant E,independant F,independant G,independant H,independant I,independant J,independant K,independant L,Dependant M
0,270901.400,45893.692,4173.700,4616.364,45334.000,1441.273,30842.267,28.500,27.300,45845.700,3495.900,45635.700,45735.700
1,251905.800,57550.800,2642.500,6011.900,41877.545,1914.364,39184.400,1003.312,808.000,41046.067,3138.125,41045.933,41057.417
2,305539.100,56822.833,3293.727,4769.000,56354.750,1914.364,32051.300,464.500,484.909,56157.364,4297.100,56173.100,56365.000
3,168269.692,39055.091,1635.200,3911.500,23643.200,1190.000,26164.000,704.600,708.200,22888.824,1750.588,22711.000,22781.000
4,176859.900,40163.100,4588.500,4352.500,21527.000,1220.600,29324.300,751.545,1.462,21016.500,1607.300,20966.500,20981.400

In [4]:
x=data_df.drop(['Dependant M'],axis=1).values
y=data_df['Dependant M'].values

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=0.07,random_state=0)

In [6]:
from sklearn.linear_model import LinearRegression
ml=LinearRegression()
ml.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [7]:
y_pred=ml.predict(x_test)
print(y_pred)

[73172.76084828 24812.4267065  54629.41071925 57853.59833249
 38478.49504287 17163.00874161 18399.99793635 49159.24926812
 17051.82275558 14179.56998358 -1234.52289542 18030.67173744
 21091.69697035 31736.86643588 19828.86232647 13924.91901702
 50441.85916362 33056.26760922 29631.74409048 63889.67773191
  8209.74344085 45380.56272333 51964.66831121 31336.32974533
 31139.92030645 60318.27892734 54991.06341602 45306.96940067
 26857.90119247 53754.73999636 31722.02529657 29628.16707368
 39969.34558649 46049.28632164  9053.99758202  7386.01466679
 50437.21430882  6087.79539449 10243.84466834 68110.72419669
 10315.8804313  32212.16986707 23053.2425499  48461.23092248
 49531.94278789 47755.0725166  31299.43887916 33129.96502983
 46890.80471463 43667.62391714 72180.11550748 44208.2073142
 62819.45405271 17189.27521636 52983.40358695 10175.29956024
 38356.22371927 39758.78515836 25512.89559731 25134.33173191
 17657.31658557 31047.36781244 28816.64451751   291.83212087
 53105.29345995 31643.40515544 29405.99334651 41480.31551391
 58704.38505321 84920.178078   45321.26791053 52518.66497742
 81405.55861184 70886.16531699 27286.04320686  2442.35293357]

In [8]:
ml.coef_

array([-5.15684153e-05,  3.62262552e-02,  9.51284073e-02,  9.29745015e-02,
       -5.60603123e-02,  1.44148889e-01, -6.72838785e-02,  2.82148520e-02,
        6.20464273e-02,  1.53542365e-01,  1.21466770e-01,  8.60128394e-01])

In [9]:
ml.intercept_

-481.9137549784573

In [10]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.9290177069609203

In [11]:
import matplotlib.pyplot as plt
plt.figure(figsize=(15,10))
plt.scatter(y_test,y_pred)
plt.xlabel("Actual")
plt.ylabel("Predicted")
plt.title("Actual vs. Predicted")

Text(0.5, 1.0, 'Actual vs. Predicted')

In [12]:
pred_y_df=pd.DataFrame({"Actual Value":y_test,"Predicted Value":y_pred,"Difference":y_test-y_pred})
pred_y_df[0:76]

    Actual Value  Predicted Value   Difference
0      74942.611     73172.760848  1769.850152
1      25000.000     24812.426706   187.573294
2      56365.000     54629.410719  1735.589281
3      59416.500     57853.598332  1562.901668
4      36909.900     38478.495043 -1568.595043
..           ...              ...          ...
71     53912.182     52518.664977  1393.517023
72     83400.000     81405.558612  1994.441388
73     72429.200     70886.165317  1543.034683
74     27989.889     27286.043207   703.845793
75      2587.308      2442.352934   144.955066

[76 rows x 3 columns]

In [13]:
from sklearn import metrics
import numpy as np
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
RMSE= np.sqrt(metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:',RMSE)

Mean Absolute Error: 2104.9116599168815
Mean Squared Error: 30487460.241063587
Root Mean Squared Error: 5521.545095447794

In [14]:
y.max()

92017.18199999999

In [15]:
y.min()

1069.7

In [16]:
NRMSE=RMSE/(y.max()-y.min())
print(NRMSE)

0.06071135752222139