In [2]:
import pandas as pd
data_df=pd.read_csv(r"C:\Users\Niloy\Linear Regression\MicIndRnk3.csv",header=None)

In [3]:
data_df.columns=['independant A','independant B','independant C','independant D','independant E','independant F','independant G','independant H','independant I','independant J ','independant K','independant L','Dependant M']

In [4]:
data_df.head()

,independant A,independant B,independant C,independant D,independant E,independant F,independant G,independant H,independant I,independant J,independant K,independant L,Dependant M
0,270959.667,45600.333,4171.000,4628.667,45506.333,1429.200,30782.667,26.000,27.000,45569.333,3485.667,45651.400,45569.333
1,251340.000,57541.500,2633.333,6043.333,42041.000,1902.000,39190.250,1007.500,808.000,40965.667,3136.000,41000.000,40965.667
2,299643.667,56557.667,3308.000,4773.000,56466.667,1902.000,31874.333,491.667,480.667,56000.000,4284.000,56000.000,56000.000
3,167618.667,39022.750,1619.000,3932.000,23626.333,1182.333,26253.000,699.250,699.800,22826.667,1746.000,22826.667,22770.000
4,176597.000,40426.667,4603.000,4362.667,21762.333,1221.333,28927.333,750.200,1.000,21000.000,1597.667,21000.000,21000.000

In [5]:
x=data_df.drop(['Dependant M'],axis=1).values
y=data_df['Dependant M'].values

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=0.07,random_state=0)

In [9]:
from sklearn.linear_model import LinearRegression
ml=LinearRegression()
ml.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
y_pred=ml.predict(x_test)
print(y_pred)

[72689.95638811 24861.39028161 54651.09101295 57490.35972084
 38996.93539826 16791.45950841 18427.51905547 49230.94072122
 17030.91211905 14023.18550466 -5148.47662393 18184.15657327
 20968.92560139 31780.410835   19896.80208528 13801.30661531
 50436.05921963 33220.6260038  29696.0402447  63686.00804652
  7886.16122193 45354.85494147 52228.20679514 31335.96595081
 31223.38806468 60348.32817692 55415.903327   45466.91830211
 26883.49211213 53880.1665657  31733.14009179 28919.38099833
 39999.95335921 46159.52074373  9466.33567812  6266.16016558
 50500.64670268  6210.3134806  10232.56821569 68003.0198398
 10150.82299022 32011.51747186 23142.49415938 48503.29943262
 49694.77382496 47666.25649087 31297.60610794 33037.14400042
 46946.76218096 43874.81987487 71405.28044263 44184.15907876
 63477.80092392 17153.4773166  52921.38529661  9936.3036627
 38538.29915288 39696.54318285 25483.38379876 25351.97789755
 17664.44304227 31128.89118434 28807.73844718   732.06380961
 53099.71498281 31551.46238181 29527.7102606  41402.83406461
 58807.71646315 83282.63571309 45618.34910459 52410.2731666
 82470.73009711 71530.47710981 27329.37374164  2369.62453655]

In [11]:
ml.predict([[270959.667 ,45600.333 ,4171.000 ,4628.667 ,45506.333 ,1429.200,30782.667 ,26.000 ,27.000 ,45569.333 ,3485.667 ,45651.400 ]])

array([44340.13553663])

In [12]:
ml.coef_

array([-2.96665079e-05,  3.55307318e-02,  1.00561362e-01,  1.39599565e-01,
       -3.70615701e-01,  1.00622590e-01, -7.31326741e-02,  3.36364381e-01,
        6.19574795e-02,  4.34147800e-01,  4.21793148e-01,  8.73004611e-01])

In [13]:
ml.intercept_

-483.2272674158303

In [14]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.9261933353428071

In [15]:
import matplotlib.pyplot as plt
plt.figure(figsize=(15,10))
plt.scatter(y_test,y_pred)
plt.xlabel("Actual")
plt.ylabel("Predicted")
plt.title("Actual vs. Predicted")

Text(0.5, 1.0, 'Actual vs. Predicted')

In [16]:
pred_y_df=pd.DataFrame({"Actual Value":y_test,"Predicted Value":y_pred,"Difference":y_test-y_pred})
pred_y_df[0:76]

    Actual Value  Predicted Value   Difference
0      75000.000     72689.956388  2310.043612
1      25000.000     24861.390282   138.609718
2      56000.000     54651.091013  1348.908987
3      58958.000     57490.359721  1467.640279
4      37000.000     38996.935398 -1996.935398
..           ...              ...          ...
71     53704.250     52410.273167  1293.976833
72     85000.000     82470.730097  2529.269903
73     72823.667     71530.477110  1293.189890
74     28000.000     27329.373742   670.626258
75      2956.600      2369.624537   586.975463

[76 rows x 3 columns]

In [21]:
from sklearn import metrics
import numpy as np
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
RMSE= np.sqrt(metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:',RMSE)

Mean Absolute Error: 2228.9775850734527
Mean Squared Error: 31768193.646395873
Root Mean Squared Error: 5636.328028636718

In [22]:
y.max()

96201.33300000001

In [23]:
y.min()

376.667

In [24]:
NRMSE=RMSE/(y.max()-y.min())
print(NRMSE)

0.05881917739882044